<ion-header>
<ion-navbar hideBackButton>

          <ion-title>{{globVars.appNameVers}} - Team: {{globVars.globCurrUser.name}}</ion-title>

</ion-navbar>
<!-- <p align="right"> {{globVars.timer}} </p> -->

</ion-header>

<ion-content padding class="page5">

  <ion-refresher (ionRefresh)="reloadTeam($event)">
    <ion-refresher-content>

    </ion-refresher-content>
  </ion-refresher>


  <ion-grid>
    <ion-row class="titles">
      <ion-col>
        <div (click)='changeSort(true)'>Name
          <span *ngIf="globVars.teamSortAlpha"><ion-icon name="arrow-dropdown-circle"></ion-icon></span>
          <span *ngIf="!globVars.teamSortAlpha"><ion-icon name="arrow-dropdown"></ion-icon></span>
         </div>
      </ion-col>
<!--      <ion-col>
        MA_Farbe
      </ion-col>
-->
      <ion-col>
        Status
      </ion-col>
      <ion-col>
        <div (click)='changeSort(false)'>Letzte Buchung
          <span *ngIf="!globVars.teamSortAlpha"><ion-icon name="arrow-dropdown-circle"></ion-icon></span>
          <span *ngIf="globVars.teamSortAlpha"><ion-icon name="arrow-dropdown"></ion-icon></span>
        </div>
      </ion-col>
      <ion-col>
        Kommentar
      </ion-col>
<!--      <ion-col>
        Arbeitszeit
      </ion-col> -->
    </ion-row>


    <ion-row *ngFor="let user of users; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }">

      <ion-col>

        <span style="background-color:Grey" *ngIf="(user.name=='Tom')">__{{user.name}}__</span>
        <span style="background-color:#488aff" *ngIf="(user.name=='David')">_ {{user.name}} _</span>
        <span style="background-color:Orange" *ngIf="(user.name=='Horst')">_ {{user.name}} _</span>
        <span style="background-color:Red" *ngIf="(user.name=='Emir')">__{{user.name}}__</span>
        <span style="background-color:Fuchsia" *ngIf="(user.name=='Thomas')">{{user.name}}</span>
        <span style="background-color:Yellow" *ngIf="(user.name=='Sigi')">__{{user.name}}__</span>

  <!--
        <span style="color:Grey" *ngIf="((user.name=='Tom') && (this.globVars.currPlatform =='Handy'))"><ion-icon name="square"></ion-icon></span>
        <span style="color:Grey" *ngIf="((user.name=='Tom') && (this.globVars.currPlatform =='Desktop'))">
        <ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon></span>

        <span style="color:Blue" *ngIf="((user.name=='David') && (this.globVars.currPlatform =='Handy'))"><ion-icon name="square"></ion-icon></span>
        <span style="color:Blue" *ngIf="((user.name=='David') && (this.globVars.currPlatform =='Desktop'))">
        <ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon></span>

        <span style="color:Orange" *ngIf="((user.name=='Horst') && (this.globVars.currPlatform =='Handy'))"><ion-icon name="square"></ion-icon></span>
        <span style="color:Orange" *ngIf="((user.name=='Horst') && (this.globVars.currPlatform =='Desktop'))">
        <ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon></span>

        <span style="color:Fuchsia" *ngIf="((user.name=='Thomas') && (this.globVars.currPlatform =='Handy'))"><ion-icon name="square"></ion-icon></span>
        <span style="color:Fuchsia" *ngIf="((user.name=='Thomas') && (this.globVars.currPlatform =='Desktop'))">
        <ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon></span>

        <span style="color:Red" *ngIf="((user.name=='Emir') && (this.globVars.currPlatform =='Handy'))"><ion-icon name="square"></ion-icon></span>
        <span style="color:Red" *ngIf="((user.name=='Emir') && (this.globVars.currPlatform =='Desktop'))">
        <ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon></span>

        <span style="color:Yellow" *ngIf="((user.name=='Sigi') && (this.globVars.currPlatform =='Handy'))"><ion-icon name="square"></ion-icon></span>
        <span style="color:Yellow" *ngIf="((user.name=='Sigi') && (this.globVars.currPlatform =='Desktop'))">
        <ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon></span>

        <span style="color:Grey"  *ngIf="((user.name=='Tom') && (this.globVars.currPlatform =='Desktop'))">
          <ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon></span>
        <span style="color:Blue"  *ngIf="((user.name=='David') && (this.globVars.currPlatform =='Desktop'))">
          <ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon></span>
        <span style="color:Orange"  *ngIf="((user.name=='Horst') && (this.globVars.currPlatform =='Desktop'))">
          <ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon></span>
        <span style="color:Fuchsia"  *ngIf="((user.name=='Thomas') && (this.globVars.currPlatform =='Desktop'))">
          <ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon></span>
        <span style="color:Red"  *ngIf="((user.name=='Emir') && (this.globVars.currPlatform =='Desktop'))">
          <ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon></span>
        <span style="color:Yellow"  *ngIf="((user.name=='Sigi') && (this.globVars.currPlatform =='Desktop'))">
          <ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon><ion-icon name="square"></ion-icon></span>
        -->
        <span *ngIf="!((user.name=='Tom') || (user.name=='David')|| (user.name=='Horst')|| (user.name=='Emir')|| (user.name=='Thomas')|| (user.name=='Sigi'))"> {{user.name}} </span>
      </ion-col>

      <ion-col>
        <span style="background-color:#488aff" *ngIf="((user.status=='Pause EIN'))">!!! {{user.status}} !!! </span>
        <span style="background-color:LightPink" *ngIf="((user.lastcomment =='bns') || (user.lastcomment=='Bns') )">!! {{user.status}} !! </span>
        <span style="background-color:cyan" *ngIf="((user.lastcomment =='#')||(user.lastcomment =='.'))">!! {{user.status}} !! </span>
        <div *ngIf="!((user.status=='Pause EIN') || (user.lastcomment =='#') || (user.lastcomment =='.') || (user.lastcomment =='bns') || (user.lastcomment =='Bns'))">
          <span style="color:#f53d3d" *ngIf="user.status=='Krank'"> <ion-icon name="radio-button-on"></ion-icon>  </span>
          <span style="color:#3dcc82" *ngIf="user.status=='Arbeit EIN'"> <ion-icon name="radio-button-on"></ion-icon> </span>
          <span style="color:#ffcc00" *ngIf="user.status=='AD-Fahrt'"> <ion-icon name="radio-button-on"></ion-icon> </span>
          <span style="color:#ffcc00" *ngIf="user.status=='AD-Kunde'"> <ion-icon name="radio-button-on"></ion-icon> </span>
          <span style="color:#3dcc82" *ngIf="user.status=='Tele-Arbeit'"><ion-icon name="radio-button-on"></ion-icon> </span>
          <span style="color:#3dcc82" *ngIf="user.status=='Projekt 1'"><ion-icon name="radio-button-on"></ion-icon> </span>
          <span style="color:#3dcc82" *ngIf="user.status=='Projekt 2'"><ion-icon name="radio-button-on"></ion-icon> </span>
          <span style="color:#488aff" *ngIf="user.status=='Pause EIN'"><ion-icon name="radio-button-on"></ion-icon> </span>
          <span style="color:#488aff" *ngIf="user.status=='Urlaub'"> <ion-icon name="radio-button-on"></ion-icon>  </span>
          <span style="color:#f53d3d" *ngIf="user.status=='Arbeit AUS'"><ion-icon name="radio-button-on"></ion-icon> </span>
          {{user.status}}
        </div>
      </ion-col>

      <ion-col>
        {{user.lasttimestamp}}
      </ion-col>
      <ion-col>
        {{user.lastcomment}}
      </ion-col>
<!-- <ion-col>

      </ion-col>  -->
    </ion-row>
  </ion-grid>



</ion-content>
