<ion-header>
<ion-navbar> <!-- hideBackButton wird vermutlich nicht notwendig sein -->
  <ion-title>
    {{globVars.appNameVers}} - <span *ngIf="globVars.workTimeTodayHour">{{globVars.workTimeTodayHour}}h </span> {{globVars.workTimeTodayMin}}m -
    <span *ngIf="globVars.workTimeRuns"><ion-icon name="time"></ion-icon>  </span>
    <span *ngIf="globVars.workTimeRuns==false"><ion-icon name="close-circle"></ion-icon> </span>
  </ion-title>
</ion-navbar>
</ion-header>

<ion-content class="page4">

  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="https://ordination-kutschera.at/zen.gif" alt="Smiley face" height="80" width="80">
      </ion-col>
      <ion-col align="center">
        <h3 style="text-align:center">{{globVars.globCurrUser.name}}</h3>
        <ion-badge color="danger"> BETA: KD-Datenbank </ion-badge> <br><br>
      </ion-col>
      <ion-col align="right">
        <h3>[KW:{{globVars.KW_akt}}]</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <span style="background-color:Red" *ngIf="(this.globVars.autoLogout==true)"><p align="right">Logout in: {{globVars.timer}} sec</p></span>

  <h4 style="text-align:center"> Status:

    <span style="color:#3dcc82" *ngIf="globVars.globCurrUser.status==globVars.tsTyp[1]||globVars.globCurrUser.status==globVars.tsTyp[2]||globVars.globCurrUser.status==globVars.tsTyp[3]||globVars.globCurrUser.status==globVars.tsTyp[4]||globVars.globCurrUser.status==globVars.tsTyp[5]||globVars.globCurrUser.status==globVars.tsTyp[6]">{{globVars.globCurrUser.status}} </span>
    <span style="color:#488aff" *ngIf="globVars.globCurrUser.status==globVars.tsTyp[7]||globVars.globCurrUser.status==globVars.tsTyp[8]">{{globVars.globCurrUser.status}} </span>
    <span style="color:#f53d3d" *ngIf="globVars.globCurrUser.status==globVars.tsTyp[9]||globVars.globCurrUser.status==globVars.tsTyp[0]">{{globVars.globCurrUser.status}} </span>

  <span *ngIf="globVars.globCurrUser.lastcomment">
 ({{globVars.globCurrUser.lastcomment}}) </span>
 <br>
  seit: {{globVars.globCurrUser.lasttimestamp}} </h4>

  <ion-item>
    <ion-label color="primary" stacked>Kommentar:</ion-label>
    <ion-input [(ngModel)]="globVars.comment" #focusInput (keyup.enter)="handleTEXT()"></ion-input>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col align="right">
        <button ion-button small block icon-left color='secondary' (click)="timestampClick(1)">
        <ion-icon name="briefcase"></ion-icon>{{globVars.tsTyp[1]}}&nbsp; (1)</button></ion-col>
      <ion-col>
        <button ion-button small block icon-left color='secondary' (click)="timestampClick(2)">
        <ion-icon name="car"></ion-icon>{{globVars.tsTyp[2]}}&nbsp; (2)</button></ion-col>
    </ion-row>

    <ion-row>
      <ion-col align="right">
        <button ion-button small icon-left block color='secondary' (click)="timestampClick(3)">
        <ion-icon name="wifi"></ion-icon>{{globVars.tsTyp[3]}}&nbsp;(3)
      </button></ion-col>
      <ion-col>
        <button ion-button small icon-left block color='secondary' (click)="timestampClick(4)">
        <ion-icon name="contact"></ion-icon>{{globVars.tsTyp[4]}}&nbsp;(4)  </button></ion-col>
    </ion-row>

    <ion-row>
      <ion-col align="right">
        <button ion-button small icon-left block (click)="timestampClick(7)">
        <ion-icon name="cafe"></ion-icon>{{globVars.tsTyp[7]}} &nbsp;(7)</button></ion-col>
      <ion-col>
        <button ion-button small icon-left block (click)="timestampClick(8)">
        <ion-icon name="sunny"></ion-icon>{{globVars.tsTyp[8]}} &nbsp;(8) </button></ion-col>
    </ion-row>

    <ion-row>
      <ion-col align="right">
        <button ion-button small icon-left block  color="danger" (click)="timestampClick(9)">
        <ion-icon name="home"></ion-icon>{{globVars.tsTyp[9]}} &nbsp;(9) </button></ion-col>
      <ion-col>
        <button ion-button small icon-left block  color="danger"  (click)="timestampClick(0)">
        <ion-icon name="medkit"></ion-icon>{{globVars.tsTyp[0]}} &nbsp;(0)</button></ion-col>
    </ion-row>

  </ion-grid>

  <!-- <p align="center"> {{globVars.localDate}} </p> -->

</ion-content>
