
<ion-header>
<ion-navbar> <!-- hideBackButton wird vermutlich nicht notwendig sein -->
  <ion-title>
    {{globVars.appNameVers}}
  </ion-title>
</ion-navbar>
</ion-header>

<ion-content class="page4">

  <h2 style="text-align:center">Hallo, {{globVars.globCurrUser.name}}!</h2>
  <p align="right"> {{globVars.timer}} </p>
  <h3 style="text-align:center"> Aktueller Status: {{globVars.globCurrUser.status}}
  <span *ngIf="globVars.globCurrUser.lastcomment"> ({{globVars.globCurrUser.lastcomment}}) </span> </h3>
  <h3  style="text-align:center"> seit: {{globVars.globCurrUser.lasttimestamp}} </h3>

  <br>

  <ion-grid>
    <ion-row>
      <ion-col align="right">
        <button ion-button block  icon-left (click)="globVars.makeStamp('Arbeit')">
        <ion-icon name="briefcase"></ion-icon> Arbeit EIN &nbsp; (1)</button></ion-col>
      <ion-col>
        <button ion-button block icon-left (click)="globVars.makeStamp('AD-Fahrt')">
        <ion-icon name="car"></ion-icon>AD-Fahrt &nbsp; (2)</button></ion-col>
    </ion-row>

    <ion-row>
      <ion-col align="right">
        <button ion-button icon-left block  (click)="globVars.makeStamp('Tele-Arbeit')">
        <ion-icon name="wifi"></ion-icon> Tele-Arbeit &nbsp; (3)</button></ion-col>
      <ion-col>
        <button ion-button icon-left block  (click)="globVars.makeStamp('AD-Kunde')">
        <ion-icon name="podium"></ion-icon>AD-Kunde &nbsp;(4)  </button></ion-col>
    </ion-row>

    <ion-row>
      <ion-col align="right">
        <button ion-button icon-left block  color="secondary" (click)="globVars.makeStamp('Pause')">
        <ion-icon name="cafe"></ion-icon> Pause EIN &nbsp;(7)</button></ion-col>
      <ion-col>
        <button ion-button icon-left block  color="secondary"  (click)="globVars.makeStamp('Urlaub')"><ion-icon name="sunny"></ion-icon> Urlaub &nbsp;(8) </button></ion-col>
    </ion-row>

    <ion-row>
      <ion-col align="right">
        <button ion-button icon-left block  color="danger" (click)="globVars.makeStamp('Freizeit')"><ion-icon name="home"></ion-icon>Arbeit AUS &nbsp;(9) </button></ion-col>
      <ion-col>
        <button ion-button icon-left block  color="danger"  (click)="globVars.makeStamp('Krank')">
        <ion-icon name="medkit"></ion-icon> Krank &nbsp;(0)</button></ion-col>
    </ion-row>

  </ion-grid>

  <ion-item>
    <ion-label color="primary" stacked>Kommentar:</ion-label>
    <ion-input [(ngModel)]="globVars.comment" #focusInput (keyup.enter)="handleComment()"></ion-input>
  </ion-item>

<p align="center"> {{globVars.localDate}} </p>

<!--        <ion-item>
           <ion-label fixed>Name</ion-label>
            <ion-input type="text" [value]="name" (input)="name = $event.target.value"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed>Description</ion-label>
            <ion-input type="text" [value]="description" (input)="description = $event.target.value"></ion-input>
        </ion-item>




    </ion-list>

    <button ion-button (click)="postItem()" color="warning">Post Item</button>

    <hr/>

    <button ion-button (click)="getItems()">Get Items</button>

    <ion-searchbar
      [(ngModel)]="searchQuery"
      (ionInput)="filterItems($event.target.value)">
    </ion-searchbar>

    <ion-list>
        <ion-item *ngFor="let item of items">
          <h2>{{ item.name }}</h2>
          <p>{{ item.description }}</p>
        </ion-item>
    </ion-list>
-->
</ion-content>
