<ion-header>
<ion-navbar>
  <ion-title>
    {{globVars.appNameVers}} - Extras: {{globVars.globCurrUser.name}}
  </ion-title>
</ion-navbar>
<!-- <p align="right"> {{globVars.timer}} </p> -->
</ion-header>
<ion-content padding class="page5">
{{globVars.appVers}} <br>

<h6 ion-text color="dark">Browser-Typ: {{globVars.browserPlatform}} -> {{globVars.currPlatform}}</h6>
<button ion-button medium align="center" (click)="playTon()">sound-Test</button>

 <h4 ion-text color="primary"><u>Kommentar-Feld-Codes:</u></h4>

<h5 ion-text color="primary">Wie kann ich Zeit-Stempel rückdatieren?</h5>
    <i ion-text color="danger">"k0915" oder "k 09:15"</i><a ion-text color="dark"> + (beliebiger Stempeltyp)</a><br>
    <a ion-text color="dark">-> erzeugt einen Stempel mit der angegebenen Zeit</a> <br>
<!--
<h5 ion-text color="primary">Wie kann ich Pausen nachtragen?</h5>
    <i ion-text color="danger">#k&nbsp; 9:15 &nbsp; 9:45</i> oder: <i ion-text color="danger">#k 9:15&nbsp; 30m</i>
    <a ion-text color="dark">+</a><i ion-text color="primary">(PAUSE EIN)</i><br>
    <a ion-text color="dark">-> erzeugt 2 Zeit-Stempel: <br>
    (Pause EIN) mit 09:15 + (Arbeit EIN) 09:45</a><br>
-->
<h5 ion-text color="primary">Wie kann ich eine Bemerkung für die Lohn-Verrechnung eingeben?</h5>
    <i ion-text color="danger">#v Bemerkung</i><a ion-text color="dark"> + (beliebiger Stempeltyp)</a><br>
    <a ion-text color="dark">-> #v wird bei der Verrechnung(Lohn) !händisch! bearbeitet</a> <br> <br>
<h5 ion-text color="primary">Wie kann ich "Zeitausgleich" eingeben?</h5>
    <i ion-text color="danger">[URLAUB] stempeln</i><a ion-text color="dark"> + Kommentar: "ZA"</a><br>
    <a ion-text color="dark">-> muss vorläufig außerhalb von ZEN mitgeführt werden</a> <br> <br>

<!-- Anzeige der TS eines Monats und Berechnung der Arbeitszeit pro Tag -->
<ion-list>
  <ion-item>
    <ion-label>Von:</ion-label>
    <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="wtInterval.start"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Bis:</ion-label>
    <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="wtInterval.end"></ion-datetime>
  </ion-item>
</ion-list>


<button ion-button full align="center" (click)="calcInterval()" color="light">Arbeitszeit berechnen</button>
<br>
<!-- <ion-card class='blue'> -->

  <ion-card *ngIf="noTSFound">
    <ion-item>
    Es wurden leider keine Einträge im angegebenen Zeitraum gefunden!
    </ion-item>
  </ion-card>

  <ion-card *ngIf="wtInterval.sum">
    <ion-item>
      <ion-icon name="time" item-start></ion-icon>
      Gesamt: &nbsp;
      <ion-badge>
        {{wtInterval.HoursDezim}}h
      </ion-badge>
      <ion-badge>
        =
      </ion-badge>
      <ion-badge><span *ngIf="wtInterval.Hours">{{wtInterval.Hours}}h</span> {{wtInterval.Minutes}}m</ion-badge>
    </ion-item>
  </ion-card>



<ion-grid *ngFor="let buchungenDay of buchungenMonth; let i=index">

  <ion-card>
    <ion-row><ion-col>
    <ion-item>
      Arbeitszeit: &nbsp;
      <ion-badge>
        {{workTimeHoursDezim[i]}}h
      </ion-badge>
      <ion-badge>
        =
      </ion-badge>
      <ion-badge><span *ngIf="workTimeHours[i]">{{workTimeHours[i]}}h</span> {{workTimeMinutes[i]}}m</ion-badge>
    </ion-item>
  </ion-col></ion-row>

<ion-row *ngFor="let buchung of buchungenDay; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }">

  <ion-col>
    {{buchung.date| date: 'EEE MMM dd yyyy H:mm'}}
  </ion-col>
  <ion-col>
    <span style="color:#f53d3d" *ngIf="buchung.status=='Krank'"><ion-icon name="radio-button-on"></ion-icon>  </span>
    <span style="color:#3dcc82" *ngIf="buchung.status=='Arbeit EIN'"><ion-icon name="radio-button-on"></ion-icon> </span>
    <span style="color:#ffcc00" *ngIf="buchung.status=='AD-Fahrt'"><ion-icon name="radio-button-on"></ion-icon> </span>
    <span style="color:#ffcc00" *ngIf="buchung.status=='AD-Kunde'"><ion-icon name="radio-button-on"></ion-icon> </span>
    <span style="color:#3dcc82" *ngIf="buchung.status=='Tele-Arbeit'"><ion-icon name="radio-button-on"></ion-icon> </span>
    <span style="color:#3dcc82" *ngIf="buchung.status=='Projekt 1'"><ion-icon name="radio-button-on"></ion-icon> </span>
    <span style="color:#3dcc82" *ngIf="buchung.status=='Projekt 2'"><ion-icon name="radio-button-on"></ion-icon> </span>
    <span style="color:#488aff" *ngIf="buchung.status=='Pause EIN'"><ion-icon name="radio-button-on"></ion-icon> </span>
    <span style="color:#488aff" *ngIf="buchung.status=='Urlaub'"><ion-icon name="radio-button-on"></ion-icon> </span>
    <span style="color:#f53d3d" *ngIf="buchung.status=='Arbeit AUS'"><ion-icon name="radio-button-on"></ion-icon> </span>
    {{buchung.status}}
    </ion-col>
  <ion-col>
    {{buchung.device}}
  </ion-col>
  <ion-col>
    {{buchung.comment}}
  </ion-col>
</ion-row>
</ion-card>
</ion-grid>

<!-- </ion-card>-->
</ion-content>
