<ion-header>
<ion-navbar hideBackButton>
  <ion-title>
    {{globVars.appNameVers}} - Buchungen: {{globVars.globCurrUser.name}}
  </ion-title>
</ion-navbar>
<!-- <p align="right"> {{globVars.timer}} </p> -->

</ion-header>

<ion-content padding class="page5">

<ion-card>
  <ion-item>
    <ion-icon name="time" item-start></ion-icon>
    Arbeitszeit heute:
    <ion-badge item-end><span *ngIf="workTimeHours">{{workTimeHours}}h</span> {{workTimeMinutes}}m</ion-badge>
  </ion-item>
</ion-card>

  <ion-grid>
    <ion-row class="titles">
      <ion-col>
        Datum/Zeit
      </ion-col>
      <ion-col>
        Zeit-Typ
      </ion-col>
      <ion-col>
        Device
      </ion-col>
      <ion-col>
        Kommentar
      </ion-col>
<!--      <ion-col>
        Arbeitszeit
      </ion-col> -->
    </ion-row>
    <ion-row *ngFor="let buchung of buchungentoday">

      <ion-col>
  <!--      <span *ngIf="buchung.date[0]=='M'"> -> </span> -->
        {{buchung.date}}
      </ion-col>
      <ion-col>
        <span style="color:#f53d3d" *ngIf="buchung.status=='Krank'"><ion-icon name="radio-button-on"></ion-icon>  </span>
        <span style="color:#3dcc82" *ngIf="buchung.status=='Arbeit EIN'"><ion-icon name="radio-button-on"></ion-icon> </span>
        <span style="color:#ffcc00" *ngIf="buchung.status=='AD-Fahrt'"><ion-icon name="radio-button-on"></ion-icon> </span>
        <span style="color:#ffcc00" *ngIf="buchung.status=='AD-Kunde'"><ion-icon name="radio-button-on"></ion-icon> </span>
        <span style="color:#3dcc82" *ngIf="buchung.status=='Tele-Arbeit'"><ion-icon name="radio-button-on"></ion-icon> </span>
        <span style="color:#3dcc82" *ngIf="buchung.status=='Projekt 1'"><ion-icon name="radio-button-on"></ion-icon> </span>
        <span style="color:#3dcc82" *ngIf="buchung.status=='Projekt 2'"><ion-icon name="radio-button-on"></ion-icon> </span>
        <span style="color:#488aff" *ngIf="buchung.status=='Pause EIN'"><ion-icon name="radio-button-on"></ion-icon> </span>
        <span style="color:#488aff" *ngIf="buchung.status=='Urlaub'"><ion-icon name="radio-button-on"></ion-icon> </span>
        <span style="color:#f53d3d" *ngIf="buchung.status=='Arbeit AUS'"><ion-icon name="radio-button-on"></ion-icon> </span>
        {{buchung.status}}
        </ion-col>
      <ion-col>
        {{buchung.device}}
      </ion-col>
      <ion-col>
        {{buchung.comment}}
      </ion-col>
<!-- <ion-col>

      </ion-col>  -->
    </ion-row>
  </ion-grid>

<!-- Alle Buchungen != heute -->
<ion-grid>
  <ion-row *ngFor="let buchung of buchungen">

    <ion-col>
<!--      <span *ngIf="buchung.date[0]=='M'"> -> </span> -->
      {{buchung.date}}
    </ion-col>
    <ion-col>
      <span style="color:#f53d3d" *ngIf="buchung.status=='Krank'"><ion-icon name="radio-button-on"></ion-icon>  </span>
      <span style="color:#3dcc82" *ngIf="buchung.status=='Arbeit EIN'"><ion-icon name="radio-button-on"></ion-icon> </span>
      <span style="color:#ffcc00" *ngIf="buchung.status=='AD-Fahrt'"><ion-icon name="radio-button-on"></ion-icon> </span>
      <span style="color:#ffcc00" *ngIf="buchung.status=='AD-Kunde'"><ion-icon name="radio-button-on"></ion-icon> </span>
      <span style="color:#3dcc82" *ngIf="buchung.status=='Tele-Arbeit'"><ion-icon name="radio-button-on"></ion-icon> </span>
      <span style="color:#3dcc82" *ngIf="buchung.status=='Projekt 1'"><ion-icon name="radio-button-on"></ion-icon> </span>
      <span style="color:#3dcc82" *ngIf="buchung.status=='Projekt 2'"><ion-icon name="radio-button-on"></ion-icon> </span>
      <span style="color:#488aff" *ngIf="buchung.status=='Pause EIN'"><ion-icon name="radio-button-on"></ion-icon> </span>
      <span style="color:#488aff" *ngIf="buchung.status=='Urlaub'"><ion-icon name="radio-button-on"></ion-icon> </span>
      <span style="color:#f53d3d" *ngIf="buchung.status=='Arbeit AUS'"><ion-icon name="radio-button-on"></ion-icon> </span>
      {{buchung.status}}
      </ion-col>
    <ion-col>
      {{buchung.device}}
    </ion-col>
    <ion-col>
      {{buchung.comment}}
    </ion-col>
<!-- <ion-col>

    </ion-col>  -->
  </ion-row>
</ion-grid>


</ion-content>
